@font-face {
    font-family: Lot-Regular;
    src: url("Lot-Regular-2.otf") format("opentype");
}

@font-face {
    font-family: Neon;
    src: url("/NEONLEDLight.ttf") format("truetype");
}

*{
    padding:0;
    margin:0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    background: rgb(189, 26, 189);
    background: linear-gradient(207deg, rgba(189, 26, 189, 1) 0%, rgba(199, 28, 113, 1) 35%, rgba(199, 53, 28, 1) 100%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.memory {
    position: relative;
    width: 850px;
    height: 850px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-items: center;
    border: 2px solid lightcoral;
    border-radius: 5px;
    perspective: 1000px;
}

#memoryBoard{
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 40px 80px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(14.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.memoryCard{
    position: relative;
    width: calc(7% - 1px);
    height: calc(23.5% - 1px);
    margin: auto;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memoryCard:active {
    transform:scale(.90);
    transition: transform .225s;
}

.frontSide{
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-left: 0.00001px;
    padding-right: 0.00001px;
    position: absolute;
    font-size: 110%;
    transform: rotateY(180deg);
}

.memoryCard.turn{
    transform: rotateY(180deg);

}

.backSide {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 300%;
    backface-visibility: hidden;
}

.score {
    cursor: text;
    padding: 10px;
}

#scoreText{
    text-shadow: 2px 2px black;
    background: #390EC7;
    background: -webkit-linear-gradient(to top left, #390EC7 0%, #940D4C 40%, #BA27BA 100%);
    background: -moz-linear-gradient(to top left, #390EC7 0%, #940D4C 40%, #BA27BA 100%);
    background: linear-gradient(to top left, #390EC7 0%, #940D4C 40%, #BA27BA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Lot-Regular;
    font-size: 100px;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}

#message{
    -webkit-text-fill-color: transparent;
    font-family: Lot-Regular;
        font-size: 50px;
    color: transparent;
    background: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5);
}
.messageContainer {
    width: 45%;
    margin: 25%;
    position: absolute;
}

p {
    font-family: Neon;
    color: #f8d668;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.664);
    text-align: center;
    cursor: pointer;
}


